$block: appInfo;

.#{$block} {
    padding: 0 15px 0;
    padding: 0 calcVw(15) 0;
    margin-bottom: calcVw(70);



    &__basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 40px;
        padding: 0 0 calcVw(40);
    }
    


    &__name {
        font-size: fsVw($fs2L);
        font-weight: bold;
        order: 3;
        margin-bottom: 10px;
        margin-bottom: calcVw(10);
    }



    &__icon {
        width: 85px;
        width: calcVw(85);
        height: 85px;
        height: calcVw(85);
        order: 2;
        margin-bottom: 20px;
        margin-bottom: calcVw(20);
    }



    &__copy {
        font-size: fsVw($fs2L);
        font-weight: bold;
        order: 1;
        margin-bottom: 60px;
        margin-bottom: calcVw(60);
    }



    &__sub {
        font-size: fsVw($fsDFS);
        color: $fc01;
        order: 4;
        margin-bottom: 50px;
        margin-bottom: calcVw(50);
    }



    &__dlBtn {
        display: block;
        width: 240px;
        width: calcVw(240);
        order: 5;



        img {
            width: 100%;
        }
    }



    &__caution {

        dt {
            @include fs($fsDFL);
            font-weight: bold;
            color: #fa2d2d;
            margin-bottom: 5px;
            margin-bottom: calcVw(5);
        }



        dd {
            @include fs($fsDF);
            line-height: 1.8;
        }
    }
}