$block: appInfoSub;

.#{$block} {
    display: flex;
    order: 1;
    background-color: #F2F2F7;
    border-bottom: 1px solid #BDBDC3;
    padding: 12px 15px 12px 20px;
    padding: calcVw(12) calcVw(15) calcVw(12) calcVw(20);



    &__infoText {
        order: 2;
        margin-left: 10px;
        margin-left: calcVw(10);
    }


    
    &__name {
        font-size: fsVw($fsDFS);
        margin: 5px 0 7px;
        margin: calcVw(5) 0 calcVw(7);
    }



    &__icon {
        width: 60px;
        width: calcVw(60);
        height: 60px;
        height: calcVw(60);
        order: 1;



        img {
            width: 100%;
        }
    }



    &__sub {
        font-size: fsVw($fs1SS);
        color: $fc01;
        margin-bottom: 5px;
        margin-bottom: calcVw(5);
    }



    &__store {
        font-size: fsVw($fs1SS);
        color: $fc01;
    }



    &__dl {
        font-size: fsVw($fsDF);
        text-decoration: none;
        color: $fsLink;
        order: 3;
        align-self: center;
        margin-left: auto;
    }
}