$block: appInfoSub;

.#{$block} {
    @at-root {

        %appInfoSub {
            display: flex;
            order: 1;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid #BDBDC3;
            padding: 12px 15px 12px 20px;
            padding: calcVw(12) calcVw(15) calcVw(12) calcVw(20);
            position: fixed;
            z-index: 1;
        }
    }



    &--ios {
        @extend %appInfoSub;
        background-color: #F2F2F7;
    }



    &--and {
        @extend %appInfoSub;
        background-color: #f7f7f7;
    }



    &__infoText {
        order: 2;
        margin-left: 10px;
        margin-left: calcVw(10);
    }


    
    &__name {
        @include fs($fsDFS);
        letter-spacing: $ls2S;
        margin: 5px 0 7px;
        margin: calcVw(5) 0 calcVw(7);
    }



    &__icon {
        width: 60px;
        width: calcVw(60);
        height: 60px;
        height: calcVw(60);
        order: 1;



        img {
            width: 100%;
        }
    }



    &__sub {
        @include fs($fs1SS);
        letter-spacing: $lsDF;
        color: $fc01;
        margin-bottom: 5px;
        margin-bottom: calcVw(5);
    }



    &__store {
        @include fs($fs1SS);
        letter-spacing: $ls3S;
        color: $fc01;
    }



    &__dl {

        @at-root {

            %dl{
                @include fs($fsDF);
                letter-spacing: $ls3S;
                text-decoration: none;
                order: 3;
                align-self: center;
                margin-left: auto;
            }
        }



        &--ios {
            @extend %dl;
            color: #4E90F5;
        }

        &--and {
            @extend %dl;
            color: $scAnd;
        }
    }
}