$block: modal;

.#{$block} {
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    box-sizing: border-box;
    padding: 10px;
    padding: calcVw(10) calcVw(10) calcVw(30) calcVw(10);
    width: 325px;
    width: calcVw(325);
    margin: 0 auto;
    position: fixed;
    top: calcVw(40);
    left: 0;
    right: 0;
    z-index: 2;



    &__visual {
        padding-top: 215px;
        padding-top: calcVw(250);
        margin-bottom: calcVw(50);
        position: relative;
    }



    &__visualImg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }



    &__text {
        position: absolute;
        top: calcVw(170);
        left: 0;
        z-index: 1;



        span {
            display: block;
            @include fs($fsDFS);
            font-weight: bold;
            background-color: rgba(255,255,255,0.8);
            padding: calcVw(8);
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: calcVw(5);
            }
        }
    }




    &__appInfo {
        text-align: center;
    }



    &__appIcon {
        display: block;
        width: 85px;
        width: calcVw(85);
        height: 85px;
        height: calcVw(85);
        margin-bottom: 20px;
        margin: 0 auto calcVw(20);
    }



    &__appName {
        font-size: fsVw($fs2L);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        margin-bottom: calcVw(10);
    }



    &__appSub {
        font-size: fsVw($fsDFS);
        color: $fc01;
        text-align: center;
        margin-bottom: 50px;
        margin-bottom: calcVw(30);
    }



    &__appDlBtn {
        display: block;
        width: 200px;
        width: calcVw(200);
        margin: 0 auto;



        img {
            width: 100%;
        }
    }



    &__close {
        background: rgba(0, 0, 0, 0.4);
        padding: calcVw(6) calcVw(7);
        width: calcVw(15);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -50%);



        img {
            width: 100%;
        }
    }
}