$block: modal;

.#{$block} {
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    box-sizing: border-box;
    padding: 20px 20px 30px;
    padding: calcVw(20) calcVw(20) calcVw(30);
    width: 325px;
    width: calcVw(325);
    margin: 0 auto;
    position: fixed;
    top: 40px;
    top: calcVw(40);
    left: 0;
    right: 0;
    z-index: 2;



    &__copy02 {
        @include fs($fsDF);
        font-weight: bold;
        letter-spacing: $ls1S;
        line-height: $lh2S;
        margin-bottom: 30px;
        margin-bottom: calcVw(30);
    }



    &__close {
        background: rgba(0, 0, 0, 0.4);
        padding: 6px 7px;
        padding: calcVw(6) calcVw(7);
        width: 15px;
        width: calcVw(15);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -50%);



        img {
            width: 100%;
        }
    }
}