$block: review;

.#{$block} {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    @include prtyVwPx(padding, 15, 0, 20);
    @include prtyVwPx(margin-bottom, 50);



    &__header {
        @include fs($fsDFL);
        font-weight: bold;
        @include prtyVwPx(margin-bottom, 20);
    }



    &__itemHeader {
        width: 100%;
    }



    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        @include fs($fsDFS);
        background-color: #F2F2F6;
        box-sizing: border-box;
        border-radius: 5px;
        @include prtyVwPx(padding, 12);
        height: calcVw(170);
    }



    &__itemHeader {
        font-weight: bold;
        @include prtyVwPx(margin-bottom, 6);
    }



    &__date {
        color: $fc02;
        @include prtyVwPx(margin-bottom, 6);
    }



    &__user {
        color: $fc02;
    }



    &__desc {
        line-height: 1.5;
        @include prtyVwPx(margin-top, 15);
    }
}