$block: review;

.#{$block} {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: perCalc(15, 345) 0 perCalc(20, 345);
    margin-bottom: perCalc(50, 345);



    &__header {
        @include fs($fsDFL);
        font-weight: bold;
        margin-bottom: perCalc(20, 345);
    }



    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include fs($fsDFS);
        border-radius: 5px;
        background-color: #F2F2F6;
        padding: perCalc(12, 345);
    }



    &__itemHeader {
        font-weight: bold;
        margin-bottom: 6px;
    }



    &__date {
        color: $fc02;
        margin-bottom: 6px;
    }



    &__user {
        color: $fc02;
    }



    &__desc {
        line-height: 1.5;
        margin-top: perCalc(15, 321);
    }
}