$block: review;

.#{$block} {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    @include prtyVwPx(padding, 15, 0, 20);
    @include prtyVwPx(margin-bottom, 50);



    &__header {
        @include fs($fsDFL);
        font-weight: bold;
        @include prtyVwPx(margin-bottom, 20);
    }



    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include fs($fsDFS);
        border-radius: 5px;
        background-color: #F2F2F6;
        @include prtyVwPx(padding, 12);
    }



    &__itemHeader {
        font-weight: bold;
        @include prtyVwPx(margin-bottom, 6);
    }



    &__date {
        color: $fc02;
        @include prtyVwPx(margin-bottom, 6);
    }



    &__user {
        color: $fc02;
    }



    &__desc {
        line-height: 1.5;
        @include prtyVwPx(margin-top, 15);
    }
}