$block: tag;

.#{$block} {
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 15px;
    padding-left: calcVw(15);
    margin-bottom: 20px;
    margin-bottom: calcVw(20);
    padding-bottom: 1px;
    padding-bottom: calcVw(1);

    &::-webkit-scrollbar {
        display: none;
    }



    &__listWrap {

        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 8px;
            margin-bottom: clacVw(8);
        }
    }
    


    &__list {
        display: flex;

        &:last-child {

            &::after {
                content: '';
                display: block;
                flex-shrink: 0;
                width: 8px;
                width: calacVw(8);
            }
        }
        


        li {
            flex-shrink: 0;
            @include fs($fs1S);
            font-weight: bold;
            letter-spacing: $ls3S;
            color: #555;
            border-radius: 5px;
            border: solid 1px $sc01;
            padding: 10px 7px 9px;
            padding: calcVw(10) calcVw(7) calcVw(9);
            margin-right: 7px;
            margin-right: calcVw(7);
        }
    }
}