$block: tag;

.#{$block} {
    

    &__list {
        display: flex;

        li {
            font-size: fsVw($fs1S);
            border: solid 1px #707070;
            padding: 7px;
            margin-right: 5px;
        }
    }
}