$block: thumbnail;

.#{$block} {
    padding: 0 8px;
    padding: 0 calcVw(8);



    &--main {
        margin-bottom: 70px;
        margin-bottom: calcVw(70);
    }
    


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    @at-root {
        %item {
            color: #fff;
            width: 176px;
            width: calcVw(176);
            position: relative;
        }
    }


    
    &__mainItem {
        @extend %item;
        padding-top: 170px;
        padding-top: calcVw(170);
        margin-bottom: 7px;
        margin-bottom: calcVw(7);
        
    }


    &__pickupItem {
        @extend %item;
        padding-top: 300px;
        padding-top: calcVw(300);
    }



    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1;
    }



    &__label {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 5px;
        top: calcVw(5);
        left: 7px;
        left: calcVw(7);

        li {
            margin-right: 3px;
        }
    }



    &__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        letter-spacing: .05em;
        position: absolute;
        bottom: 5px;
        bottom: calcVw(5);
        left: 7px;
        left: calcVw(7);
    }



    &__title {
        @include fs($fs1S);
        font-weight: bold;
        text-shadow: 1px 1px 3px #000000aa;
        width: 100%;
        margin-bottom: 4px;
        margin-bottom: calcVw(4);
    }



    &__user {
        @include fs($fs1SS);
        text-shadow: 1px 1px 3px #000000aa;
        margin-right: 10px;
        margin-right: calcVw(10);
    }



    &__reaction {
        display: flex;
        align-items: center;
        @include fs($fs1SS);
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: .4em 1.1em .4em .9em;
    }



    &__splash {
        background: url(../img/splash.png) no-repeat left center/auto 100%;
        padding-left: 1.5em;
        margin-right: .5em;
    }



    &__like {
        background: url(../img/heart.png) no-repeat left center/auto 100%;
        padding-left: 1.5em;
    }



    &__label-live {
        width: calcVw(40);

        img {
            width: 100%;
        }
    }



    &__label-limited {
        width: calcVw(40);

        img {
            width: 100%;
        }
    }



    &__label-tits {
        width: calcVw(37);

        img {
            width: 100%;
        }
    }



    &__label-mark {
        width: calcVw(30);

        img {
            width: 100%;
        }
    }
}