$block: thumbnail;

.#{$block} {
    padding: 0 8px;
    padding: 0 calcVw(8);



    &--main {
        margin-bottom: 70px;
        margin-bottom: calcVw(70);
    }
    


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    @at-root {
        %item {
            color: #fff;
            width: 176px;
            width: calcVw(176);
            position: relative;
        }
    }


    
    &__mainItem {
        @extend %item;
        padding-top: 170px;
        padding-top: calcVw(170);
        margin-bottom: 7px;
        margin-bottom: calcVw(7);
        
    }


    &__pickupItem {
        @extend %item;
        padding-top: 300px;
        padding-top: calcVw(300);
        margin-bottom: calcVw(20);
    }



    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }



    &__label {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 5px;
        top: calcVw(5);
        left: 7px;
        left: calcVw(7);



        li {
            margin-right: 3px;
            margin-right: calcVw(3);
        }
    }



    &__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        letter-spacing: $ls2S;
        width: 100%;
        position: absolute;
        bottom: 5px;
        bottom: calcVw(5);
        left: 7px;
        left: calcVw(7);
    }


    
    &__title {
        overflow: hidden;
        @include fs($fs1S);
        font-weight: bold;
        letter-spacing: $ls1S;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.4;
        text-shadow: 1px 1px 3px #000000aa;
        width: 100%;
        margin-bottom: 4px;
        margin-bottom: calcVw(4);
    }
    


    &__user {
        @include fs($fs1SS);
        letter-spacing: $ls1S;
        text-shadow: 1px 1px 3px #000000aa;
        margin-right: 10px;
        margin-right: calcVw(10);
    }



    &__reaction {
        display: flex;
        align-items: center;
        @include fs($fs1SS);
        letter-spacing: $ls1S;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 4px 10px 4px;
        padding: calcVw(4) calcVw(10) calcVw(4);
    }



    &__splash {
        background: url(../img/splash.png) no-repeat left top/auto 100%;
        padding-left: 1.5em;
        margin-top: 2px;
        margin-top: calcVw(2);
        margin-right: 7px;
        margin-right: calcVw(7);
    }



    &__like {
        background: url(../img/heart.png) no-repeat left top/auto 100%;
        margin-top: 2px;
        margin-top: calcVw(2);
        padding-left: 1.5em;
    }



    &__label-live {
        width: 40px;
        width: calcVw(40);

        img {
            width: 100%;
        }
    }



    &__label-limited {
        width: 40px;
        width: calcVw(40);

        img {
            width: 100%;
        }
    }



    &__label-tits {
        width: 37px;
        width: calcVw(37);

        img {
            width: 100%;
        }
    }



    &__label-mark {
        width: 30px;
        width: calcVw(30);

        img {
            width: 100%;
        }
    }
}