$block: visualContents;

.#{$block} {
    padding: 0 8px;



    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    
    li {
        background: #ccc;
        width: perCalc(176, 359);
        padding-top: perCalc(170, 359);
        margin-bottom: perCalc(7, 359);
    }
}