// ▼ Viewport ▼

    $vpW-std: 375;
    $vpH-std: 667;

// ▲ Viewport ▲



// ▼ Site Color ▼

    // $sc01: ;
    // $sc02: ;
    // $sc03: ;
    // $sc04: ;
    // $sc05: ;

// ▲ Site Color ▲



// ▼ Site Font Color ▼
    
    $fcDF: #333;
    // $fc-Red: ;
    // $fc-Blue: ;
    // $fc-Yellow: ;
    // $fc-Orange: ;
    // $fc-Pink: ;
    $fc01: #777777;
    $fc02: #85858A;
    $fsLink: #4E90F5;

// ▲ Site Font Color ▲