
.appInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-bottom: calcVw(40);
}



.appInfoName {
    @include fs($fs2L);
    font-weight: bold;
    letter-spacing: $ls1S;
    margin-bottom: 10px;
    margin-bottom: calcVw(10);
    order: 3;
}



.appInfoIcon {
    width: 85px;
    width: calcVw(85);
    height: 85px;
    height: calcVw(85);
    margin-bottom: 20px;
    margin-bottom: calcVw(20);
    order: 2;
}



.appInfoCopy {
    @include fs($fs2L);
    font-weight: bold;
    letter-spacing: $ls1S;
    line-height: $lh2S;
    color: $sc01;
    margin-bottom: 60px;
    margin-bottom: calcVw(60);
    order: 1;
}



.appInfoGenre {
    @include fs($fsDFS);
    letter-spacing: $lsDF;
    color: $fc01;
    margin-bottom: 50px;
    margin-bottom: calcVw(50);
    order: 4;
}



.appInfoBtn {
    display: block;
    width: 260px;
    width: calcVw(260);
    order: 5;



    img {
        width: 100%;
    }
}



.appInfoCaution {

    dt {
        @include fs($fsDFL);
        font-weight: bold;
        letter-spacing: $lsDF;
        color: #fa2d2d;
        margin-bottom: 5px;
        margin-bottom: calcVw(5);
    }



    dd {
        @include fs($fsDF);
        letter-spacing: $lsDF;
        line-height: $lhDF;
    }
}