// ▼ Font Size ▼

    $fsDF: 16;
    $fs1SS: $fsDF - 6;
    $fs1S: $fsDF - 4;
    $fsDFS: $fsDF - 2;
    $fsDFL: $fsDF + 2;
    $fs1L: $fsDF + 4;
    $fs1LL: $fsDF + 6;
    $fs2L: $fsDF + 8;
    $fs2LL: $fsDF + 10;
    $fs3L: $fsDF + 12;
    $fs3LL: $fsDF + 14;
    $fs4L: $fsDF + 16;
    $fs4LL: $fsDF + 18;
    $fs5L: $fsDF + 20;
    $fs5LL: $fsDF + 22;
    $fs6L: $fsDF + 24;
    $fs6LL: $fsDF + 26;
    $fs7L: $fsDF + 28;
    $fs7LL: $fsDF + 30;
    $fs8L: $fsDF + 32;
    $fs8LL: $fsDF + 34;
    $fs9L: $fsDF + 36;
    $fs9LL: $fsDF + 38;
    $fs10L: $fsDF + 40;
    $fs10LL: $fsDF + 42;

// ▲ Font Size ▲



// ▼ letter-spacing ▼

    $lsDF: 0.1em;

    $lsMIN: $lsDF - 0.1em;
    $ls4S: $lsDF - 0.08em;
    $ls3S: $lsDF - 0.06em;
    $ls2S: $lsDF - 0.04em;
    $ls1S: $lsDF - 0.02em;
    $ls1L: $lsDF + 0.02em;
    $ls2L: $lsDF + 0.04em;
    $ls3L: $lsDF + 0.06em;
    $ls4L: $lsDF + 0.08em;
    $ls5L: $lsDF + 0.1em;
    $ls6L: $lsDF + 0.12em;
    $ls7L: $lsDF + 0.14em;
    $ls8L: $lsDF + 0.16em;
    $ls9L: $lsDF + 0.18em;
    $ls10L: $lsDF + 0.2em;
    $ls11L: $lsDF + 0.22em;
    $ls12L: $lsDF + 0.24em;
    $ls13L: $lsDF + 0.26em;
    $ls14L: $lsDF + 0.28em;
    $ls15L: $lsDF + 0.3em;
    $ls16L: $lsDF + 0.32em;
    $ls17L: $lsDF + 0.34em;
    $ls18L: $lsDF + 0.36em;
    $ls19L: $lsDF + 0.38em;
    $ls20L: $lsDF + 0.4em;

// ▲ letter-spacing ▲
 


// ▼ line-height ▼

    $lhDF: 1.8;
    $lhMIN: $lhDF - 0.8;
    $lh3S: $lhDF - 0.6;
    $lh2S: $lhDF - 0.4;
    $lh1S: $lhDF - 0.2;
    $lh1L: $lhDF + 0.2;
    $lh2L: $lhDF + 0.4;
    $lh3L: $lhDF + 0.6;
    $lh4L: $lhDF + 0.8;
    $lh5L: $lhDF + 1;
    $lh6L: $lhDF + 1.2;

// ▲ line-height ▲