@charset "UTF-8";
/* CSS Document */
/* ver */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  letter-spacing: 0;
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ▼▼▼ My ▼▼▼ */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}

svg {
  vertical-align: bottom;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ▲▲▲ My ▲▲▲ */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

body {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
}

.topContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.siteHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.siteHeader__siteTitle {
  font-family: kozuka-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.8vw;
}

.siteHeader__r18 {
  width: 9.6%;
}

.siteHeader__r18 img {
  width: 100%;
}

.appInfoSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-color: #F2F2F7;
  border-bottom: 1px solid #BDBDC3;
  padding: 3.2% 4% 3.2% 5.33333%;
}

.appInfoSub__infoText {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 2.66667%;
}

.appInfoSub__name {
  font-size: 3.73333vw;
  margin: 3px 0 10px;
}

.appInfoSub__icon {
  width: 16%;
  height: 16%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.appInfoSub__icon img {
  width: 100%;
}

.appInfoSub__sub {
  font-size: 2.66667vw;
  color: #777777;
  margin-bottom: 5px;
}

.appInfoSub__store {
  font-size: 2.66667vw;
  color: #777777;
}

.appInfoSub__dl {
  font-size: 4.26667vw;
  text-decoration: none;
  color: #4E90F5;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: auto;
}

.news {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #444;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.news h1 {
  font-size: 3.73333vw;
  font-weight: bold;
  color: #fff;
  background-color: #555;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
}

.news dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: headLineSP 45s linear infinite;
  animation: headLineSP 45s linear infinite;
}

@-webkit-keyframes headLineSP {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    visibility: visible;
  }
  34% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes headLineSP {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    visibility: visible;
  }
  34% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.news dl dt {
  font-size: 3.2vw;
  color: #FFA500;
}

.news dl dd {
  font-size: 3.73333vw;
  white-space: nowrap;
  color: #fff;
}

.mainVisual {
  position: relative;
  padding: 0 8px 15px;
  margin-bottom: 20px;
}

.mainVisual li img {
  width: 100%;
}

.swiper-pagination {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background: #9acd32;
  /* 色：緑 */
  opacity: 0.5;
  /* 半透明（デフォルトでは0.2） */
  margin-right: 7px;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  background: #ffd700;
  /* 色：黄色 */
  opacity: 1;
  /* 不透明 */
}

.tag {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 4%;
  margin-bottom: 20px;
  padding-bottom: 1px;
}

.tag::-webkit-scrollbar {
  display: none;
}

.tag__listWrap:nth-child(1), .tag__listWrap:nth-child(2) {
  margin-bottom: 8px;
}

.tag__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag__list:last-child::after {
  content: '';
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 8px;
}

.tag__list li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 3.2vw;
  border-radius: 5px;
  border: solid 1px #707070;
  padding: 7px;
  margin-right: 7px;
}

.thumbnail {
  padding: 0 8px;
}

.thumbnail__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.thumbnail__item {
  color: #fff;
  background: #ccc;
  width: 49.02507%;
  padding-top: 47.35376%;
  margin-bottom: 1.94986%;
  position: relative;
  z-index: 0;
}

.thumbnail__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.thumbnail__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 7px;
}

.thumbnail__label li {
  margin-right: 3px;
}

.thumbnail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: .05em;
  position: absolute;
  bottom: 5px;
  left: 7px;
}

.thumbnail__title {
  font-size: 1.2rem;
  font-size: 3.2vw;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000000aa;
  width: 100%;
  margin-bottom: 4px;
}

.thumbnail__user {
  font-size: 1rem;
  font-size: 2.66667vw;
  text-shadow: 1px 1px 3px #000000aa;
  margin-right: 10px;
}

.thumbnail__reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  font-size: 2.66667vw;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .4em 1.1em .4em .9em;
}

.thumbnail__splash {
  background: url(//pocketmonster-gogo.com/temp_img/r0205261200/splash.png) no-repeat left center/auto 100%;
  padding-left: 1.5em;
  margin-right: .5em;
}

.thumbnail__like {
  background: url(//pocketmonster-gogo.com/temp_img/r0205261200/heart.png) no-repeat left center/auto 100%;
  padding-left: 1.5em;
}

.appInfo {
  padding: 0 4% 0;
}

.appInfo__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 11.5942%;
}

.appInfo__name {
  font-size: 6.4vw;
  font-weight: bold;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-bottom: 2.89855%;
}

.appInfo__icon {
  width: 24.63768%;
  height: 24.63768%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-bottom: 5.7971%;
}

.appInfo__copy {
  font-size: 6.4vw;
  font-weight: bold;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 17.3913%;
}

.appInfo__sub {
  font-size: 3.73333vw;
  color: #777777;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-bottom: 14.49275%;
}

.appInfo__dlBtn {
  display: block;
  width: 69.56522%;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.appInfo__dlBtn img {
  width: 100%;
}

.appInfo__caution {
  color: #333;
}

.appInfo__caution dt {
  font-size: 4.26667vw;
  font-weight: bold;
  margin-bottom: 1.44928%;
}

.appInfo__caution dd {
  font-size: 3.73333vw;
}

.review {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 15px 0 20px;
  margin-bottom: 14.49275%;
}

.review__header {
  font-size: 4.26667vw;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.review__itemList {
  background-color: #F2F2F6;
  padding: 3.47826%;
}

.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 3.2vw;
}

.review__itemHeader {
  font-weight: bold;
  color: #000;
  margin-bottom: 6px;
}

.review__date {
  color: #85858A;
  margin-bottom: 6px;
}

.review__user {
  color: #85858A;
}

.review__desc {
  margin-top: 15px;
}
