@charset "UTF-8";
/* CSS Document */
/* ver */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  letter-spacing: 0;
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ▼▼▼ My ▼▼▼ */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}

svg {
  vertical-align: bottom;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ▲▲▲ My ▲▲▲ */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

body {
  font-family: kozuka-gothic-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  letter-spacing: 0.1em;
}

.topContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.siteHeader {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.siteHeader__siteTitle {
  width: 88vw;
  padding: 3.2vw 0;
  margin: 0 auto;
}

.siteHeader__siteTitle img {
  width: 100%;
}

.appInfoSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  background-color: #F2F2F7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #BDBDC3;
  padding: 12px 15px 12px 20px;
  padding: 3.2vw 4vw 3.2vw 5.33333vw;
  position: fixed;
  z-index: 1;
}

.appInfoSub__infoText {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 10px;
  margin-left: 2.66667vw;
}

.appInfoSub__name {
  font-size: 3.73333vw;
  margin: 5px 0 7px;
  margin: 1.33333vw 0 1.86667vw;
}

.appInfoSub__icon {
  width: 60px;
  width: 16vw;
  height: 60px;
  height: 16vw;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.appInfoSub__icon img {
  width: 100%;
}

.appInfoSub__sub {
  font-size: 2.66667vw;
  color: #777777;
  margin-bottom: 5px;
  margin-bottom: 1.33333vw;
}

.appInfoSub__store {
  font-size: 2.66667vw;
  color: #777777;
}

.appInfoSub__dl {
  font-size: 4.26667vw;
  text-decoration: none;
  color: #4E90F5;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: auto;
}

.news {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #444;
  margin-bottom: 10px;
  margin-bottom: 2.66667vw;
  position: relative;
  z-index: 0;
}

.news h1 {
  font-size: 3.73333vw;
  font-weight: bold;
  color: #fff;
  background-color: #555;
  padding: 10px 15px;
  padding: 2.66667vw 4vw;
  position: relative;
  z-index: 1;
}

.news dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: headLine 13s linear infinite;
  animation: headLine 13s linear infinite;
}

@-webkit-keyframes headLine {
  from {
    opacity: 1;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  91% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes headLine {
  from {
    opacity: 1;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  91% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.news dl dt {
  font-size: 3.2vw;
  color: #FFA500;
}

.news dl dd {
  font-size: 3.73333vw;
  white-space: nowrap;
  color: #fff;
}

.mainVisual {
  position: relative;
  padding: 0 8px 15px;
  padding: 0 2.13333vw 4vw;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  position: relative;
  z-index: 0;
}

.mainVisual li img {
  width: 100%;
}

.swiper-pagination {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background: #9acd32;
  /* 色：緑 */
  opacity: 0.5;
  /* 半透明（デフォルトでは0.2） */
  margin-right: 7px;
  margin-right: 1.86667vw;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  background: #ffd700;
  /* 色：黄色 */
  opacity: 1;
  /* 不透明 */
}

.tag {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 15px;
  padding-left: 4vw;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  padding-bottom: 1px;
  padding-bottom: 0.26667vw;
}

.tag::-webkit-scrollbar {
  display: none;
}

.tag__listWrap:nth-child(1), .tag__listWrap:nth-child(2) {
  margin-bottom: 8px;
  margin-bottom: clacVw(8);
}

.tag__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag__list:last-child::after {
  content: '';
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 8px;
  width: calacVw(8);
}

.tag__list li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 3.2vw;
  font-weight: bold;
  color: #555;
  border-radius: 5px;
  border: solid 1px #ff3399;
  padding: 7px;
  padding: 1.86667vw;
  margin-right: 7px;
  margin-right: 1.86667vw;
}

.thumbnail {
  padding: 0 8px;
  padding: 0 2.13333vw;
  margin-bottom: 18.66667vw;
}

.thumbnail__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.thumbnail__item {
  color: #fff;
  width: 176px;
  width: 46.93333vw;
  padding-top: 170px;
  padding-top: 45.33333vw;
  margin-bottom: 7px;
  margin-bottom: 1.86667vw;
  position: relative;
}

.thumbnail__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: 5px;
  top: 1.33333vw;
  left: 7px;
  left: 1.86667vw;
}

.thumbnail__label li {
  margin-right: 3px;
}

.thumbnail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: .05em;
  position: absolute;
  bottom: 5px;
  bottom: 1.33333vw;
  left: 7px;
  left: 1.86667vw;
}

.thumbnail__title {
  font-size: 1.2rem;
  font-size: 3.2vw;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000000aa;
  width: 100%;
  margin-bottom: 4px;
  margin-bottom: 1.06667vw;
}

.thumbnail__user {
  font-size: 1rem;
  font-size: 2.66667vw;
  text-shadow: 1px 1px 3px #000000aa;
  margin-right: 10px;
  margin-right: 2.66667vw;
}

.thumbnail__reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  font-size: 2.66667vw;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .4em 1.1em .4em .9em;
}

.thumbnail__splash {
  background: url(../img/splash.png) no-repeat left center/auto 100%;
  padding-left: 1.5em;
  margin-right: .5em;
}

.thumbnail__like {
  background: url(../img/heart.png) no-repeat left center/auto 100%;
  padding-left: 1.5em;
}

.thumbnail__label-live {
  width: 10.66667vw;
}

.thumbnail__label-live img {
  width: 100%;
}

.thumbnail__label-limited {
  width: 10.66667vw;
}

.thumbnail__label-limited img {
  width: 100%;
}

.thumbnail__label-tits {
  width: 9.86667vw;
}

.thumbnail__label-tits img {
  width: 100%;
}

.thumbnail__label-mark {
  width: 8vw;
}

.thumbnail__label-mark img {
  width: 100%;
}

.appInfo {
  padding: 0 15px 0;
  padding: 0 4vw 0;
}

.appInfo__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 40px;
  padding: 0 0 10.66667vw;
}

.appInfo__name {
  font-size: 6.4vw;
  font-weight: bold;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-bottom: 10px;
  margin-bottom: 2.66667vw;
}

.appInfo__icon {
  width: 85px;
  width: 22.66667vw;
  height: 85px;
  height: 22.66667vw;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
}

.appInfo__copy {
  font-size: 6.4vw;
  font-weight: bold;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 60px;
  margin-bottom: 16vw;
}

.appInfo__sub {
  font-size: 3.73333vw;
  color: #777777;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-bottom: 50px;
  margin-bottom: 13.33333vw;
}

.appInfo__dlBtn {
  display: block;
  width: 240px;
  width: 64vw;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.appInfo__dlBtn img {
  width: 100%;
}

.appInfo__caution dt {
  font-size: 1.8rem;
  font-size: 4.8vw;
  font-weight: bold;
  color: #fa2d2d;
  margin-bottom: 5px;
  margin-bottom: 1.33333vw;
}

.appInfo__caution dd {
  font-size: 1.6rem;
  font-size: 4.26667vw;
  line-height: 1.8;
}

.review {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 15px 0px 20px;
  padding: 4vw 0vw 5.33333vw;
  margin-bottom: 50px;
  margin-bottom: 13.33333vw;
  position: relative;
  z-index: 0;
}

.review__header {
  font-size: 1.8rem;
  font-size: 4.8vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
}

.reviewItem-ios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-size: 1.4rem;
  font-size: 3.73333vw;
  background-color: #F2F2F6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  padding: 3.2vw;
  height: 45.33333vw;
  position: relative;
}

.reviewItem-ios__title {
  font-weight: bold;
  margin-bottom: 6px;
  margin-bottom: 1.6vw;
}

.reviewItem-ios__rate {
  display: block;
  position: relative;
  color: #EE8834;
}

.reviewItem-ios__rate::before, .reviewItem-ios__rate::after {
  position: absolute;
  top: 0;
}

.reviewItem-ios__rate::before {
  content: '☆☆☆☆☆';
}

.reviewItem-ios__rate::after {
  content: '★★★★★';
  overflow: hidden;
}

.reviewItem-ios__rate--4::after {
  width: 80%;
}

.reviewItem-ios__rate--4_5::after {
  width: 90%;
}

.reviewItem-ios__rate--5::after {
  width: 100%;
}

.reviewItem-ios__date {
  text-align: right;
  color: #85858A;
  margin-bottom: 6px;
  margin-bottom: 1.6vw;
}

.reviewItem-ios__user {
  text-align: right;
  color: #85858A;
}

.reviewItem-ios__detail {
  line-height: 1.5;
  margin-top: 15px;
  margin-top: 4vw;
}

.reviewItem-and {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 15px 0px 20px;
  padding: 4vw 0vw 5.33333vw;
  margin-bottom: 50px;
  margin-bottom: 13.33333vw;
}

.reviewItem-and__header {
  font-size: 1.8rem;
  font-size: 4.8vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
}

.reviewItem-and__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-size: 1.4rem;
  font-size: 3.73333vw;
  background-color: #f7f7f7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  padding: 3.2vw;
  height: 45.33333vw;
}

.reviewItem-and__user {
  color: #222222;
  width: 100%;
  margin-bottom: 2.66667vw;
}

.reviewItem-and__rate {
  display: block;
  position: relative;
  color: #cccccc;
  margin-right: 1.6vw;
}

.reviewItem-and__rate::before {
  content: '★★★★★';
}

.reviewItem-and__rate::after {
  content: '★★★★★';
  overflow: hidden;
  color: #01875f;
  position: absolute;
  top: 0;
  left: 0;
}

.reviewItem-and__rate--4::after {
  width: 80%;
}

.reviewItem-and__rate--4_5::after {
  width: 90%;
}

.reviewItem-and__rate--5::after {
  width: 100%;
}

.reviewItem-and__date {
  text-align: right;
  color: #85858A;
}

.reviewItem-and__detail {
  line-height: 1.5;
  color: #555555;
  margin-top: 10px;
  margin-top: 2.66667vw;
}

.modal {
  display: none;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  padding: 2.66667vw 2.66667vw 8vw 2.66667vw;
  width: 325px;
  width: 86.66667vw;
  margin: 0 auto;
  position: fixed;
  top: 10.66667vw;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal__visual {
  padding-top: 215px;
  padding-top: 66.66667vw;
  margin-bottom: 13.33333vw;
  position: relative;
}

.modal__visualImg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__text {
  position: absolute;
  top: 45.33333vw;
  left: 0;
  z-index: 1;
}

.modal__text span {
  display: block;
  font-size: 1.4rem;
  font-size: 3.73333vw;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.13333vw;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal__text span:nth-child(1), .modal__text span:nth-child(2) {
  margin-bottom: 1.33333vw;
}

.modal__appInfo {
  text-align: center;
}

.modal__appIcon {
  display: block;
  width: 85px;
  width: 22.66667vw;
  height: 85px;
  height: 22.66667vw;
  margin-bottom: 20px;
  margin: 0 auto 5.33333vw;
}

.modal__appName {
  font-size: 6.4vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 2.66667vw;
}

.modal__appSub {
  font-size: 3.73333vw;
  color: #777777;
  text-align: center;
  margin-bottom: 50px;
  margin-bottom: 8vw;
}

.modal__appDlBtn {
  display: block;
  width: 200px;
  width: 53.33333vw;
  margin: 0 auto;
}

.modal__appDlBtn img {
  width: 100%;
}

.modal__close {
  background: rgba(0, 0, 0, 0.4);
  padding: 1.6vw 1.86667vw;
  width: 4vw;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(40%, -50%);
  transform: translate(40%, -50%);
}

.modal__close img {
  width: 100%;
}

.mask {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
